 /* title banner */
 div#title_banner {
    display: grid;
    grid-template-columns: 60% 40%;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: center;
}

div#title_banner h1 {
    grid-column: 1;
    font-size: 2.5vw;
    margin-block-start: 2.5vh;
    margin-block-end: 2.5vh;
}

div#title_banner span {
    grid-column: 2;
    margin-block-start: 2.5vh;
    margin-block-end: 2.5vh;
}

div#title_banner span input[type=text] {
    width: 15vw;
    height: 3vh;
    font-size: 1vw;
}

div#title_banner span button#search_button {
    padding : 1vh 3vw 1vh 3vw;
}

/* content pane */
div#content_pane {
    display: grid;
    grid-template-columns: 15% 85%;
    text-align: center;
}

div#content_pane div#left_pane {
    grid-column: 1;
    border-right: 1px solid #000000;
}

div#content_pane div#right_pane {
    grid-column: 2;
}

/* left pane */
div#left_pane {
    display: flex;
    flex-flow: column wrap;
    font-size: 1.1vw;

}

div#left_pane span {
    border-bottom: 1px solid #000000;
    padding: 0.5em 0 0.5em 0;
}

div#left_pane span:not(:first-child):hover {
    cursor: pointer;
    background-color: lightcyan;
}

/* products listing  */
h1.product_section_headers {
    text-align: left;
    padding: 0 0 0 2vw;
    font-size: 2vw;
}

div.products_listing {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 0 2vw;
}

div.products_listing span {
    display: flex;
    flex-direction: column;
    width: 15vw;
    margin: 1vh .5vw 1vh .5vw;
    cursor: pointer;
}

div.products_listing span:hover {
    background-color: #D3D3D3;
}

div.products_listing span img {
    width: 100%;
}

div.products_listing span h3 {
    margin-bottom: 0;
    font-size: 1.2vw;
}

div.products_listing span p {
    margin-top: 0;
    font-size: .9vw;
}

@media only screen and (max-width : 480px) {
    div#title_banner {
        grid-template-columns: 55% 45%;
    }

    div#title_banner h1 {
        font-size: 5vw;
    }
    
    div.products_listing span {
        width: 17vw;
        margin: 1vh .8vw 1vh .8vw;
    }

    div#title_banner span input[type=text] {
        width: 20vw;
        height: 1.3vh;
        font-size: 2vw;
    }

    div#title_banner span button#search_button {
        padding : .6vh 3vw .6vh 3vw;
        font-size: 2vw;
    }

    /* content pane */
    div#content_pane {
        grid-template-columns: 20% 80%;
    }

    div#left_pane {
        font-size: 2vw;
    }
}