div#content_pane {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: auto;
}

div#content_pane div{
    width: 50vw;
}

div#content_pane div#image_pane {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3vw;
}

div#content_pane div#image_pane img:not([class=icon]) {
    width: 30vw;
    border: 1px solid #000000;
}

div#content_pane div#image_pane img.icon {
    width: 8%;
    margin: 0 1vw 0 1vw;
}

div#content_pane div#image_pane img.icon:hover {
    cursor: pointer;
}

div#content_pane div#image_pane button {
    margin: 0 1.5vw 0 1.5vw;
}

div#content_pane div#description_pane {
    text-align: left;
}

div#content_pane div#description_pane h2 {
    font-size: 2vw;
}

div#content_pane div#description_pane p {
    font-size: 1.1vw;
}

div#content_pane div#description_pane * {
    margin-left: 2vw;
    margin-right: 2vw;
}