@import url("https://fonts.googleapis.com/css?family=Merriweather");

body {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    background-color: #EFF5F5;
}

.header_footer_template {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.header_footer_template a {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    padding: 0 .5vw 0 .5vw;
    border-left: 2px solid #000000;
}

.header_footer_template a[last=true] {
    border-right: 2px solid #000000;
}

.header_footer_template a:hover {
    text-decoration: underline;
    color: #EB6440;
}

div#header_menu_bar a {
    font-size: 1.65vw;
    padding: 0 2vw 0 2vw;
}

div#header_logo {
    min-height: 3em;
    vertical-align: center;
}

footer {
    margin-top: auto;
    border-top: 1px solid #000000;
    font-size: 1vw;
}

footer p {
    color: #C3C3C3;
    font-size: .9vw;
}

button {
    padding: 2vh 3vw 2vh 3vw;
    border-radius: 4px;
    border: none;
    background-color: #497174;
    color: #FFFFFF;
    font-weight: bold;
    font-size: .9vw;
}

button:hover {
    background-color: #375456;
    cursor: pointer;
}

@media only screen and (max-width : 480px) {
    button {
        padding: 1vh 3vw 1vh 3vw;
        font-size: 1.5vw;
    }
}