/* ProductCatalogue.css */

div#catalogue_title_banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10vh;
    justify-content: space-between;
}

div#catalogue_title_banner button {
    margin-right: 5vw;
}

div#product_category_card {
    display: flex;
    flex-flow: row wrap;
    column-gap: 5vw;
    justify-content: center;
}

div#product_category_card span.card {
    display: flex;
    flex-direction: column;
    width: 25vw;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 3vw;
    justify-content: space-between;
}

div#product_category_card span.card h2 {
    text-align: center;
}

div#product_category_card span.card p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#product_category_card span.card p>span:not(.legends) {
    display: flex;
    flex-direction: column;
    width: 50%;
}

div#product_category_card span.card button {
    align-self: center;
}