/* ProductItemDetails.css */

div#action_button_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #000000;
    margin-bottom: 2vh;
    padding: 2vh 0 2vh 0;
}

div#product_details {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding-left: 4vw;
}

div#product_details>span {
    display: flex;
    flex-direction: row;
}

div#product_details span p.detail_property {
    width: 15vw;
    font-weight: bold;
}

div#product_details span .detial_value {
    width: 50vw;
}
div#product_details span p.detial_value {
    display: flex;
    flex-direction: column;
}

div#product_details span .detial_value span.product_color_images {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

div#product_details span .detial_value span.product_color_images p.color_label {
    grid-column: 1 / span 4;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

div#product_details span .detial_value span.product_color_images img {
    width: 90%;
    justify-self: center;
    margin-bottom: 2vh;
}